body{
    text-align:center;
    background-color:#FFA000;
    }
    
    #Paragraph {
    font-size: 40px;
    color:#1DE9B6;
    font-variant:small-caps;
    }
    
    #Fivereasons {
    border: 3px;
    border-style:solid;
    border-radius: 10px;
    padding:5px;
    border-color:#00C853;
    width:300px;
    }
    
    #Reason {
      font-size: 20px;
      color:green;
    }